*:focus {
outline: none;
}
body {
  font-family: Hiragino Maru Gothic Pro W4, Verdana, sans-serif;
}

li {
  list-style: none;
  padding: 0px;
  height: 130;
}

details[open] .open {
  display: none;
}

details:not([open]) .close {
  display: none;
}

.hairetu {
  height: 784px;
  width: 320px;
  /* height: 490px;
  width: 200px; */
  margin-top: 8px;
}

.tap {
  /* margin: 12px; */
  cursor:pointer;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

}

.container {
  margin: 20px 4px;
  padding: 0px;
}

.aka_gedan, .aka_joudan {
  background-color: pink;
}

.tori {
  background-color: wheat;
}

.che {
  background-color: tomato;
}


.deme {
  height: 96px;
  width: 160px;
}
.deme4 {
  height: 128px;
  width: 160px;
}
.setumei {
  display: inline-block;
}
.text {
  font-size: 12px;
  font-weight: bold;
  width: 160px;
  height: 18px;
  display: inline-block;
  text-align: center;
}
