*:focus {
outline: none;
}
body {
  font-family: Hiragino Maru Gothic Pro W4, Verdana, sans-serif;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 130;
}

details[open] .open {
  display: none;
}

details:not([open]) .close {
  display: none;
}

.hairetu {
  height: 784px;
  width: 320px;
  /* height: 490px;
  width: 200px; */
  margin-top: 8px;
}

.tap {
  /* margin: 12px; */
  cursor:pointer;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

}

.container {
  margin: 20px 4px;
  padding: 3px;
}

.aka_gedan, .aka_joudan {
  background-color: pink;
}

.tori {
  background-color: wheat;
}

.che {
  background-color: tomato;
}


.deme {
  height: 96px;
  width: 160px;
}
.deme4 {
  height: 128px;
  width: 160px;
}


table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
  margin-top: 8px;
}
td, th {
	padding: 3px;
	width: 180px;
	height: 130px;
  font-size: 14px;
  vertical-align: bottom;
  text-align: center;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}